<div class="box panel panel-default">
			<div class="panel-heading">
				<img src="<%= entry.image_url %>">
			</div>
			<div class="panel-body">
				<h4><%= link_to entry.title.gsub(/&#34;/, '"'), entry.url %></h4>
				<p class="user">
					<i> published <%= time_ago_in_words(entry.published) %> ago.</i>
				</p>
			</div>	
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6">
						<%= entry.fblikes %> likes
					</div>
					<div class="col-md-6">
						<h5><%= entry.feed.name %></h5>
					</div>
				</div>
			</div>
</div>
