<!DOCTYPE html>
<html>
<head>
  <title>Thanh Le - Hot news</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-brand">
				<%= link_to "THANH LE", root_path %>
			</div>
			<ul class="nav navbar-nav">
			 <li><%= link_to "ALL", root_path, class: current_class?(root_path) %></li>
			  <% Category.all.each do |category| %>
		  	  	<li><%= link_to category.name, seo_entries_path(category: category.name), class: current_class?(seo_entries_path(category: category.name))  %></li>
		  	  <%end%>
		    </ul>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
